<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
             version="1.0">


    <persistence-unit name="aeroPunit" transaction-type="JTA">
        <provider>org.jpa</provider>
        <jta-data-source>java:jdbc/oracleDS</jta-data-source>
        <class>gov.michigan.mdot.aeropm.airport.domain.AirportDetails</class>
        <class>gov.michigan.mdot.aeropm.proj.domain.AeroConceptHeader</class>
        <class>gov.michigan.mdot.aeropm.proj.domain.AeroConceptBudget</class>
        <class>gov.michigan.mdot.aeropm.proj.domain.ConceptComment</class>
        <class>gov.michigan.mdot.aeropm.proj.domain.ConceptEnvironment</class>
        <class>gov.michigan.mdot.aeropm.admin.domain.Lookup</class>
        <class>gov.michigan.mdot.aeropm.admin.domain.StatusByRole</class>
        <class>gov.michigan.mdot.aeropm.admin.domain.WorkCategory</class>
        <class>gov.michigan.mdot.aeropm.admin.domain.WorkTypeByJobType</class>


        <properties>
            <property name="hibernate.hbm2ddl.auto" value="validate" />
            <property name="hibernate.transaction.manager_lookup_class" value="org.hibernate.transaction.JBossTransactionManagerLookup" />
            <property name="hibernate.dialect" value="org.hibernate.dialect.Oracle10gDialect" />
            <property name="hibernate.hbm2ddl.auto" value="update" />
            <property name="hibernate.show_sql" value="true" />
            <property name="hibernate.format_sql" value="true" />
            <property name="hibernate.default_schema" value="MAP" />
            <property name="jboss.entity.manager.factory.jndi.name" value="jdbc/oracleDS" />
            <property name="transactionManager" value="transactionManager" />
        </properties>
    </persistence-unit>
</persistence>